SMTP_USER=your_email@domain.com
SMTP_PASS=your_password_here
SMTP_HOST=mail.yourdomain.com
SMTP_PORT=465
SMTP_FROM=your_email@domain.com
SMTP_FROM_NAME="Your Company Name"
SMTP_TO=recipient@example.com
SMTP_CC=cc_recipient@example.com
